.firebase-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  md-card {
    flex: 1 1 auto;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 200px;
    width: 10%;
    md-card-header {
      .avatar img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
    }
    md-card-content {
      margin: 0;
      padding: 16px 0;
      border-top: solid 1px lightgrey;
    }
  }
}
