<md-toolbar class="tea-header" color="primary">

  <md-icon class="logo">local_cafe</md-icon> <a routerLink="/" class="navbar-brand">Brightwire Tea App</a>
  <div class="spacer"></div>
  <button md-mini-fab (click)="login()" title="Login using Google" *ngIf="!(userContext | async)?.uid"><md-icon>account_circle</md-icon></button>
  <div *ngIf="(userContext | async)?.uid">
    <app-user [user]="user"></app-user>
  </div>
  <button md-mini-fab (click)="logout()" title="Logout" *ngIf="(userContext | async)?.uid"><md-icon>exit_to_app</md-icon></button>
</md-toolbar>