.user-component {
  display: flex;

  .image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .info span {
    font-size: 1rem;
    line-height: 1.5rem;
    display: block;
    color: white;
  }
}
