<div>Welcome the Angular 4 with Firebase Shell. Now with FIREBASE (still needs work)</div>
<div class="row columns">
  <button (click)="login()" *ngIf="!(userContext | async)?.uid">Login with Google</button>
  <button (click)="logout()" *ngIf="(userContext | async)?.uid">Logout</button>
  <div *ngIf="(userContext | async)?.uid">
    <app-user [user]="user"></app-user>
  </div>
  <div><input type="text" id="message" *ngIf="(userContext | async)?.uid " placeholder="What is it that you do?
      " (keyup.enter)="Send($event.target.value) " [(ngModel)]="msgVal" /></div>
  <app-firebase-items [items]="items">
  </app-firebase-items>
</div>