.tea-header {
  .logo {
    margin-right: 10px;
  }
  button {
    margin-right: 10px;
  }
  .spacer {
    flex: 1 1 auto;
  }
}
.center-input {
  text-align: center;
  md-input-container {
    max-width: 500px;
    width: 100%;
  }
}
.welcome-text {
  margin: 0 auto 20px;
  width: 80%;
}

md-card {
  max-width: 80%;
  margin: 2em auto;
}
